
/* Global styling head */

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

body {

}

.completed {
    text-decoration:line-through;
}

#inspect {
    padding: 20px;
}

#picture {
    height: 500px;
}

#officeView {
    display: flex
}

#resultsBox {
    border: 1px solid black;
}

#question {
    text-align: center;
}
#answer {
    text-align: center;
}

#death {
    color: darkred;
    background-color: red;
    opacity: .8;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    display: block;
    padding: 30px;
    text-align: center;
}
/* global styling end */