
/* Global styling head */

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

body {

}

.completed {
    text-decoration:line-through;
}

#inspect {
    padding: 20px;
}

#picture {
    height: 500px;
}

#officeView {
    display: flex
}

#resultsBox {
    border: 1px solid black;
}

#question {
    text-align: center;
}
#answer {
    text-align: center;
}
/* global styling end */